* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2,
li {
  color: burlywood;
}

body {
  padding: 60px;
}

input {
  color: burlywood;
  font-size: 1.2rem;
  width: 100%;
}

.card {
  align-items: center;
  
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 12px;
  box-shadow: 1px 2px 1px grey;
  width: 220px;
 
}

.card img {
  border-radius: 6px;
  box-shadow: 1px 2px 1px grey;
  width: 200px;
  height: 200px;
  
}

.card-grid {
  
  flex-direction:row;
  flex-wrap: wrap;
  display: flex;
  
  
  
}

.card-grid p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
 
}
